<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset='utf-8' />
    <title>Display driving directions</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="driver.css">
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:50%; }
    </style>

  </head>
  <body>
    <section class="rightSide">
      <section>
        <h2>Welcome Driver</h2>
        <h4>See who needs a ride</h4>
      </section>
      <section class="riderInformation">
        <p>yo </p>
        <p>address</p>
      </section>
    </section>
    <section class="mitad">

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css' type='text/css' />
    <div id='map' style='width: 50%; height: 100%;'></div>

    <script>
       mapboxgl.accessToken = 'pk.eyJ1IjoiZmpyb2RyaWd1ZXo3ODciLCJhIjoiY2prYWFhcjJrMzBtajNxbGViYzZhMXY2NCJ9.r72EJdfZNnEoAVF87cSbwA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [-79.4512, 43.6568],
            zoom: 13
        });

      map.addControl(new MapboxDirections({
        accessToken: mapboxgl.accessToken
      }), 'top-left');
    </script>
    </script>
  </section>
  </body>
</html>
<html>
