<!DOCTYPE HTML>
<html>
	<head>
		<title>Ride With Me Boston</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link rel="stylesheet" href="main.css"/>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
        <!-- <video class="mainVideo" loop muted autoplay playsinline Preload="auto">
          <source src="https://www.youtube.com/watch?v=y4Z1CihGNR4" type="video/mp4" >
        </video> -->
				<div class="inner">
					<h1>Ride With Me Boston</h1>
					<!-- <p>A free responsive site template by <a href="https://templated.co">TEMPLATED</a></p> -->
				</div>

			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<section  id="imagePrius" class="priusImage">
							<span class="icon fa-diamond major"></span>
							<h2 class="white">Ride With Us</h2>
								<section id="newintro">
									<p>When you ride with us you are driving with a local Bostonian who knows the city.</p>
									<p>Ride With Me Boston allows you to set a day and time for pick ups ahead of time </p>
									<h4 class="white">Customize Your Service</h4>
									<p>Looking for...</p>
									<ul>
										<li>a Designated Driver? </li>
										<li>a ride to work ? </li>
										<li>a scheduled school drop off ? </li>
									</ul>
								</section>
							<!-- <ul class="actions">
								<li><a href="#" class="button big">Learn More</a></li>
							</ul> -->
						</section>


					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header class="blueItem">
								<a href="#"><img src="#" alt="" /></a>
								<h3>Driver</h3>
							</header>
							<p class="texttt">As a Driver for Ride With Me Boston you are in charge and you decide how you use your vehicle. Simply set your availability for the week on a calendar that riders will be able to select from. Once a rider makes a request you then confirm with them and set terms for a fair price. No new drivers are being added at this time</p>
							<ul class="actions">
								<!-- <li><a href="#" class="button">More</a></li> -->
							</ul>
						</article>
						<article class="item">
							<header class="blueItem">
								<a href="#"><img src="#" alt="" /></a>
								<h3>Rider</h3>
							</header>
							<p class="texttt">Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<!-- <li><a href="#" class="button">More</a></li> -->
							</ul>
						</article>
						<!-- <article class="item">
							<header>
								<a href="#"><img src="#" alt="" /></a>
								<h3>Lorem massa nulla</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#"><img src="#" alt="" /></a>
								<h3>Ipsum sed tempus</h3>
							</header>
							<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article> -->
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">

						<h2>Get Started</h2>

            <form class="submittt" action="/login" method="post">
              <h5>Rider</h5>
    					<button type="submit" name="button">LogIn</button>
            </form>

              <form class="submittt" action="/signup" method="post">
                <button type="submit" name="button">SignUp</button>
              </form>

            <!-- <form class="submittt" action="/login" method="post">
              <h5>Driver</h5>
    					<button type="submit" name="button">LogIn</button>
            </form>
            <form class="submittt" action="/signup" method="post">
              <button type="submit" name="button">SignUp</button>
            </form> -->
				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">

							<li><a class="newnew" href="https://www.linkedin.com/in/fernandofull-stack/" ><span class="label"><i class="fab fa-linkedin">LinkedIn</i></span></a></li>
							<li><a class="newnew" href="https://twitter.com/nandos_world_"><span class="label"><i class="fab fa-twitter-square">Twitter</i></span></a></li>
						</ul>
						<p class="newnew">&copy; Ride With Me Boston <a class="newnew" href="#">Fernando Rodriguez</a></p>
					</footer>

			</div>

		<!-- Scripts -->

			<script src="assets/js/main.js"></script>

	</body>
</html>
